body {
    background: #D5C9E5;
}

.row-bg {
    background-color: #B16FFF;
}

.main-image {
    width: 100%;
    padding: 40px 0 0 0;
}

.p-image {
    width: 75px;
    height: 75px;
}

.info {
    font-family: Arial; 
    font-style: italic; 
    font-size: 12px; 
    font-weight: 400;
}
